@charset "UTF-8";

body {
    background-color: rgb(0, 255, 157);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 124, 77);
    background-color: red;
}

#principal {
    text-align: center;
    border-radius: 5px;
    width: 500px;
    margin:auto;
    padding: 20px;
}

.secundario {
    color:rgb(0, 53, 3);
}

.subcategoria {
    color:rgb(0, 53, 3);
    text-align: right;
}

.paragrafo01 {
    background-color: black;
    padding: 20px;
    width: auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    margin:auto;
    border-style: groove;
    text-align:justify;
}

.paragrafo02 { 
    background-color: black;
    padding: 20px;
    width: auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    margin:auto;
    text-align:justify; 
}