@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


* { padding: 0px; 
margin: 0px; }


:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Sriracha', 'cursive';
    --font03: 'Passion One', cursive;
}

header {
    background-color: #000;
    position: relative;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header h1 {
    color: #fff;
    font-family: var(--font03);
    font-size: 5em;
    padding: 20px;
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}

.one::before {
    content: 'C';
    font-size: 1.3em;
}

.two::before {
    content: 'M';
    font-size: 1.3em;
}

header p {
    font-family: var(--font01);
    color: #fff;
    position: absolute;
    top: 80%;
}

header a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.white {
    height: 450px;
    margin-bottom: 10px;
    padding: 30px;
}

.white p {
    text-align: justify;
    max-width: 400px;
    min-width: 200px;
    font-size: 30px;
    line-height: 2em;
    font-family: var(--font02);
    padding: 15px;
    position: absolute;
    left: 2%;
}

.image01 {
    height: 600px;
    background: #000 url(imagens/background001.jpg) right fixed;
    background-size: cover;
    position: relative;
    box-shadow: inset 5px 3px 7px rgba(0, 0, 0, 0.356);
}

.image01 p {
    background-color: rgba(0, 0, 0, 0.438);
    font-family: var(--font02);
    color: #fff;
    position: absolute;
    max-width: 450px;
    font-size: 30px;
    line-height: 2em;
    padding: 10px;
    top: 10%;
    left: 2.5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}

.image01 > p:hover {
    color: yellow;
    transition-duration: 2.5s;
}

.image02 {
    height: 800px;
    background: #000 url(imagens/background002.jpg) right fixed;
    background-size: cover;
    position: relative;
    box-shadow: inset 5px 3px 7px rgba(0, 0, 0, 0.356);
}

.image02 > p {
    background-color: rgba(0, 0, 0, 0.438);
    font-family: var(--font02);
    color: #fff;
    position: absolute;
    max-width: 450px;
    font-size: 30px;
    line-height: 2em;
    padding: 10px;
    top: 20%;
    left: 2.5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}

.image02 > p:hover {
    color: #000;
    transition-duration: 2.5s;
}


footer {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-family: var(--font01);
    padding: 10px;
    font-size: 0.7em;
}
